
/* prevents the navbar from covering content */
body { 
    padding-top: 50px; 
    height: 100%;
}

html{
    height: 100%; 
}


footer {
    background-color: rgb(34, 33, 33);
    padding-bottom: 23%;
}


/* Index page */
.headline{
   
    color: white; 
    font-size:40px; 
    background:rgba(0,0,0,0.6); 
   
    padding: 20px;

    text-align: center; 
    margin-top: 15%; 
    margin-left:25%; 
    margin-right: 25%;
    

}


/* Thumbnails*/
.thumbnails {
    /* border: solid red 2px; */
    display: flex;
    gap: 1%;
    /* width: 60%; */
    margin: 10px auto;
}

.thumbnail {
    border: 2px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px;
    width: 100%; 
}

.thumbnail img {
    max-width: 100%;
    display: block;
}

.thumbnail:hover {
    border-color: grey;
}

/* title for each page*/
.main-title {
    /* border: solid black 1px; */
    width: 78%;
    margin: auto; 
    padding-top: 2%;
}

/* BOOTSTRAP 2 X 1 tiles  */

.row-section-title {
    /* border: solid red 1px; */
    width: 78%;
    margin: auto; 
    padding-top: 2%;
}

.row {
    /* border: solid blue 1px; */
    width: 78%;
    margin: auto;
}
 
.navbar{
    padding-left:8%;
}

.navbar-brand{
    font-weight: 600;
}

.navbar-item{
    font-weight: 600;
}


.col-md-6 img {
    max-width: 100%;
}

.col-md-7 img {
    max-width: 100%;
}





/* tile separator */

.row-bottom-border {
    /* border: solid black 1px; */
    width: 78%;
    margin: auto; 
    padding-top: 2%;
}

/* needs to be placed in a .col 12 */
.bottom-border-line{
    border-bottom: lightgray solid 1px;
}


/* gap between bottom tile and footer */
.space-filler {
    background-color:white;
    padding-bottom: 4%;
}

.small-space-filler {
    background-color:white;
    padding-bottom: 2%;
}


/* Text by video */
.col-md-5{
    padding-left: 3%;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  /* Footer */
  .list-inline-item {
    padding-top:40px;
    padding-right: 15px;
    padding-left: 15px;
 
  }
  
  .network-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .banner-social-buttons {
    text-align: center;
  }
  
  ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: auto;
    margin-right: auto;
}
  
